@import url("style.css");

/* Style Buttons */

.about-button {
    background-color: var(--dark-primary);
    color: var(--divider);
    border-radius: var(--button-radius);
    border: 2px solid var(--dark-primary);
    padding: 10px 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

.about-button:hover {
    border: 2px solid var(--dark-primary);
    background-color: var(--divider);
    color: var(--dark-primary);
}

.dark {
    background-color: var(--divider);
    color: var(--white-color);
    text-align: center;
    padding: 100px 100px;
    align-items: center;
}

.light {
    text-align: center;
    padding: 100px 0;
    align-items: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 50px;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact > div {
    width: 500px;
    padding: 0 20px;
}

.contact-text {
    height: 100px;
}

.member {
    padding: 20px;
}

.name {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.position {
    margin: 5px 0 20px 0;
}

.fa-solid {
    font-size: 3em;
    color: var(--accent-color);
    margin: 10px 0;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 945px) {
    .contact {
        flex-direction: column;
    }

    .contact > div {
        width: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .dark {
        padding: 20px;
    }
}