@import url("style.css");

html{
    overflow: hidden;
    height: 100%;
}

body{
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        display: flex;
        background-color: rgba(255, 255, 255, 0.2);
        gap: 10px;
        margin: 10px;
}

.dashboard, .middle1, .middle2, .middle3, .middle4, .right1, .right2{
    border: 1px solid black;    
    border-radius: 10px;
}


.dashboard, .middle-section, .right-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

#hamburger-checkbox{
    visibility: hidden;
}

/* LEFT SECTION */
.dashboard{
    width: 15vw;
    min-width: 160px;
}

.dashboard h2{
    margin-top: 20px;
}

.dashboard ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    margin-top: 30px;
}

.dashboard ul a{
    align-self: flex-start;
}

li img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

i{
    margin-right: 10px;
    min-width: 30px;
}

.dashboard ul li{
    transition-duration: 2s ease-in-out;
    border: none;
    border-radius: 6px;
    color: black;
    height: 30px;
    /* width: 140px; */
    list-style: none;
    padding-top: 10px;
    margin-left: 20px;
}


li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.1s ease-in-out;
    z-index: 3;
    color: white;
    background-color: orange;
}

.dashboard div{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    height: 100%;
    justify-content:flex-end; 
    margin-bottom: 20px;
}

.dashboard-bottom div{
    height: 60px;
    width: 140px;
    background-color:aqua;
    align-self: center;
    border-radius: 10px;
    padding-bottom: 10px;
    gap: 10px;
}



/* MIDDLE SECTION */
.middle-section{
    width: 60vw;
    justify-content: space-between;
}

.middle1{
    display: flex;
    justify-content: space-between;
}

/* LANGUAGE POPUP */
.language{
    position: relative;
    text-decoration: none;
    color: black;
}

.language-popup{
    position: absolute;
    visibility: hidden;  
    opacity: 0;
    top:20;
    transform: translateY(0);
    z-index: 1;
    width: 102px;
    text-align: center;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; 
    height: auto;
    text-decoration: none;
    list-style: none;
    color: black;
    background-color: orange;
}

.language:hover ~ .language-popup,
.language:focus-within ~ .language-popup,
.language:focus ~ .language-popup{
    visibility: visible;
    opacity: 1;
    z-index: 3;
    width: 102px;
    transform: translateY(20px);
    transition-delay: 0s, 0s, 0.3s;
    border-radius: 0px 0px 25px 25px;
}

.middle2{
    display: flex;
    justify-content: space-between;
}

.card{
    height: 150px;
    width: 230px;
    background-color:aqua;
}

.middle3{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle3 div:nth-child(1){
    height: 150px;
    width: 230px;
    background-color: aqua;
}

.middle3 div:nth-child(2){
    height: 150px;
    width: 400px;
    background-color: aqua;
}

.middle4{
    height: 40vh;
    background-color: aqua;
}


/* RIGHT SECTION */


.right-section{
    width: 25vw;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-around;   
}

.right1{
    height: 50vh; 
    margin-top: 20px;
}

.right1 div{
    height: 300px;
    background-color:aqua;
    width: 300px;
}

.right2{
    height: 50vh;
    margin-top: 20px;
}

.right2 div{
    height: 300px;
    background-color:aqua;
    width: 300px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 390px){

    body{
        flex-direction: column;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
        }

    .dashboard {
        visibility: hidden;
    }

    .middle-section, .right-section{
        width: 100vw;
    }

    .middle1, .middle2, .middle3, .middle4, .right1, .right2{
        border: none;   
        border-radius: 10px;
    }

    .middle1 h2{
        visibility: hidden;
    }

    #hamburger-checkbox{
        visibility: visible;
    }

    .dashboard h2{
        visibility: hidden;
    }

    .language{
        visibility: hidden;
    }

    /* HAMBURGER */

    a:hover{
    color: tomato;
    }

    #menuToggle{
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    visibility: visible;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;}

    /*
    * Just a quick hamburger
    */
    #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child{
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu{
    position: absolute;
    width: 200px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
    padding: 10px 0;
    font-size: 22px;
    }

    /*
    * And let's fade it in from the left
    */
    #menuToggle input:checked ~ ul{
    transform: none;
    opacity: 1;
    }


}