/* @import url("style.css"); */

body {
  /* color: var(--text-secondary); */
  background-color: var(--divider);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.sign-button, .ghost {
  border-radius: var(--button-radius);
  border: 1px solid var(--main-primary);
  background-color: var(--main-primary);
  color: var(--divider);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 25px;
  margin: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.sign-button:active, .sign-button:hover, .ghost:active, .ghost:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: var(--divider);
}

/* Remove input hightlight in Chrome */
input:focus, textarea:focus, select:focus {
  outline: none;
}


p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.remember {
  font-size: 0.8rem;
  padding: 10px 0;
}

#remember {
  margin: 10px 0;
}

a {
  color: var(--accent-color);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

a:hover {
  color: var(--dark-primary);
}

/* Button */
button {
  border-radius: var(--button-radius);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--divider);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

/* Input */
.input-field {
  background: var(--light-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: var(--text-primary);
  width: 100%;
  padding: 12px 15px;
  margin: 5px 0;
}

.input-field .svg-container.start {
  margin: 5px;
  padding: 5px;
  color: var(--accent-color);
}

.input-field input {
  margin-right: auto;
  background:var(--light-primary);
  border: none;
  color: var(--text-primary);
  width: 100%;
}

.input-field input:focus {
  outline: none;
  color: inherit;
  background: inherit;
}

.input-field .svg-container.check {
  margin: 5px;
  padding: 5px;
  display: none;
}

/* Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--light-primary) inset !important;
  -webkit-text-fill-color: var(--secondary-text) !important;
}

form {
  background-color: var(--divider);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  /* border-radius: var(--border-radius); */
}

.error-msg-si,
.error-msg-su {
  width: 100%;
  color: var(--dark-primary);
  font-weight: 300;
  display: none;
  font-size: 0.9rem;
}

.error-msg-su li {
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: 300;
  list-style-position: inside; 
} 

.container {
  background-color: var(--divider);
  border-radius: var(--border-radius);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 550px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

/* animation */

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  /*  border-radius: var(--border-radius); */
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 50;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--light-primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--divider);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

#mobile-in {
  display: none;
}

#mobile-up {
  display: none;
}

/* Small Screen Sizes */

@media only screen and (max-width: 767px) {
  body {
    background-color: var(--light-primary);
  }

  .container {
    width: 320px;
    max-width: 80%;
    height: 500px;
    border-radius: var(--border-radius);
  }

  .sign-in-container {
    top: 0;
    width: 100%;
  }

  .sign-up-container {
    top: 0;
    width: 100%;
  }

  .overlay {
    width: 0;
  }

  #mobile-in {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--accent-color);
  }

  #mobile-in:hover {
    color: var(--dark-primary);
  }

  #mobile-up:hover {
    color: var(--dark-primary);
  }

  #mobile-up {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
}
