@import url("style.css");

.splash-img {
    height: 50vh;
    width: auto;
}

/* ////////////////////////////////////////// */
/* ////////////////SECTIONS////////////////// */
/* ////////////////////////////////////////// */

.section {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.odd {
    display: flex;
    background-color: var(--white-text);
}

.even {
    display: flex;
    background-color: var(--divider);
}

.center {
    flex-direction: column;
}

.section-text {
    width: 50%;
    margin: 0 10vh 0 10vh;
}

.center-p {
    margin-bottom: 70px;
    color: var(--primary-text);
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}

.section-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* SECTION 2 */
.section2-div {
    display: flex;
    text-align: center;
    margin: 10px 50px 10px 50px;
}

.section2-div div {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

/* SECTION 6: Review Section */

.section-box {
    display: flex;
}

.section-card {
    background-color: var(--light-primary);
    color: var(--divider);
    border-radius: var(--border-radius);
    padding: 15px;
    margin: 10px;
    width: 250px;
}

.checked {
    color: var(--accent-color);
  }

 .profile-rating {
    border-radius: 50%;
    display: block;
    margin: 5px auto 15px auto;
 }

/* //////////////////////////////////////////// */
/* ///////////// MEDIA QUERIES //////////////// */
/* //////////////////////////////////////////// */

@media screen and (max-width: 940px){
    .header-right{
        gap: 3px;
    }

    .section {
        padding: 50px 0;
        flex-direction: column;
        height: fit-content;
    }

    .splash-img {
        height: 40vh;
        margin: 50px 0;
    }

    .section2-div, .section-box {
        flex-direction: column; 
    }

    .section2-div div{
        margin: auto;
        width: 80%;
    }
    
    .section-text, h1, .center-p {
        width: 80%;
    }

}